.DS_Store

# NPM
node_modules/

# Dev
dev/
dev_firefox/
dev_safari/

# Prod
dist/
dist_firefox/
dist_safari/
builds/
changelogs/
assets/shared

# Xcode
*.xcuserstate
*.xcuserdatad

.cursorrules
.env
context/

# Custom signing
sign.sh
release.sh
web-ext-artifacts/
*.xpi
